services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: slip_salary_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: slip_salary_db
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: slip_salary_frontend
    ports:
      - "4173:4173"
    restart: unless-stopped
    depends_on:
      - app

volumes:
  db_data:
